$white: #fff;
$black: #000;
$yellow: #a79a2d;
$dark-yellow: #817824;
$light-gray: #888;
$gray: #333;
$dark-gray: #222;
$darkest-gray: #111;
$red: #e92929;
$green: #a2e946;
$blue: #297ce9;
$pink: #e92999;
